*.swp
*.swo
*.pyc
*.root
*.xml
*.png
*.pdf
*.log
*.txt
.nfs*
fold*
*.json
*.yaml
*.html
CMSSW_7_4_7/
CMSSW_8_0_4/
output/
CMSSW_*/
plots/
ml/2016_??
ml/2017_??
ml/old
ml/out
output
.env
.vscode
*.code-workspace
tmp-*
combine_logger.out
docker_stderror
.ipynb_checkpoints/
.idea
