*.swp
*.swo
*.pyc
*.root
*.xml
*.png
*.pdf
*.log
*.tar.gz
.nfs*
fold*
*.html
CMSSW_7_4_7/
CMSSW_8_0_4/
CMSSW_*/
plots/
ml/2016_??
ml/2017_??
ml/old
ml/out
output
custom_condor_data_dir*
logs
.env
.vscode
.userconfig
*.code-workspace
tmp-*
combine_logger.out
docker_stderror
.ipynb_checkpoints/
.idea
