[submodule "shape-producer"]
	path = shape-producer
	url = https://github.com/KIT-CMS/shape-producer.git
[submodule "datacard-producer"]
	path = datacard-producer
	url = https://github.com/KIT-CMS/datacard-producer.git
[submodule "htt-ml"]
	path = htt-ml
	url = https://github.com/KIT-CMS/htt-ml.git
[submodule "Dumbledraw"]
	path = Dumbledraw
	url = https://github.com/KIT-CMS/Dumbledraw.git
[submodule "tensorflow_derivative"]
	path = tensorflow_derivative
	url = https://github.com/KIT-CMS/tensorflow_derivative.git
[submodule "jdl_creator"]
	path = jdl_creator
	url = ssh://git@github.com/KIT-CMS/jdl_creator
[submodule "fake-factor-application"]
	path = fake-factor-application
	url = git@github.com:KIT-CMS/fake-factor-application.git
[submodule "datasets"]
	path = datasets
	url = git@github.com:KIT-CMS/datasets.git
[submodule "TauIDSF_measurement"]
	path = TauIDSF_measurement
	url = git@github.com:KIT-CMS/TauIDSF_measurement.git
[submodule "fake-factor-derivation"]
	path = fake_factor_derivation
	url = git@github.com:KIT-CMS/fake-factor-derivation.git
