[submodule "shape-producer"]
	path = shape-producer
	url = https://github.com/KIT-CMS/shape-producer.git
[submodule "datacard-producer"]
	path = datacard-producer
	url = https://github.com/KIT-CMS/datacard-producer.git
[submodule "htt-ml"]
	path = htt-ml
	url = https://github.com/KIT-CMS/htt-ml.git
[submodule "Dumbledraw"]
	path = Dumbledraw
	url = https://github.com/KIT-CMS/Dumbledraw.git
[submodule "tensorflow_derivative"]
	path = tensorflow_derivative
	url = https://github.com/KIT-CMS/tensorflow_derivative.git
[submodule "jdl_creator"]
	path = jdl_creator
	url = ssh://git@github.com/KIT-CMS/jdl_creator
